
:root {
  --swiper-theme-color: #fff !important;
  --swiper-navigation-color: #fff !important;
  --swiper-pagination-bullet-inactive-color: #fff !important;
  --swiper-pagination-color: #fff !important;
  --swiper-navigation-size: 20px !important;
}

body{
    font-size: 14px;
    font-family: Metropolis;
    color: #5E5D7F;
}

@media (min-width:992px) {
    body{
        font-size: 16px;
    }
}
@font-face {
    font-family: Metropolis;
    src: url(../fonts/metropolis/Metropolis-Regular.otf);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Metropolis;
    src: url(../fonts/metropolis/Metropolis-Medium.otf);
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: Metropolis;
    src: url(../fonts/metropolis/Metropolis-SemiBold.otf);
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: Metropolis;
    src: url(../fonts/metropolis/Metropolis-Bold.otf);
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: Gotham;
    src: url(../fonts/Gotham-Font/GothamMedium.ttf);
    font-display: swap;
}

@media (min-width: 576px){
    .container{
        max-width: calc(100% - 8%);
    }
}

.main-color{
    color: #AD5389;
}
.secondary-color{
    color: #3C1053;
}
.main-font{
    font-family: Gotham;
}
.custom-outline-btn{

    border-radius: 3.22px;
    border: 1.5px solid #B99CE2 !important;
    color: #2D2D2D !important;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
}
/* announcement-bar */
.announcement-bar{
    background: linear-gradient(90deg, #3C1053 -6.96%, #AD5389 109.15%);
    color: #fff;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.announcement-bar__text{
    font-size: 12px;
}
@media (min-width:768px) {
    .announcement-bar__text{
        font-size: 14px;
    }
}

/* navbar */
.navbar-nav .nav-link{
    color: #AD5389;
    text-align: center;
    font-family: Gotham;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
}
.navbar-nav .nav-link.active{
    color: #AD5389;
}



@media (max-width:768px) {
    .navbar-brand img{
     max-width:90%;
    }
    
}
/* main-slider */

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }

  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }
  .main-slider-section picture img{
    height: auto;
   width: 100%;
   /* min-height: 400px;
   object-fit: cover;
   object-position: left; */
  }




  .home-section3{
    background: #F9F3F7;
}
.highlight-text{
    border-radius: 4px;
    background: linear-gradient(90deg, #3C1053 -6.96%, #AD5389 109.15%);
    padding: 5px;
    color: #fff;
    white-space: nowrap;
}
.home-section3 h3{
    line-height: 160%;
}


.home-section3__grid-items{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

@media (min-width:768px) {
    .home-section3__grid-items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }   
}




footer .nav-link{
    color: #3C1053 !important;
    margin: 10px 0px;
}

footer .footer-links{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat( auto-fit, minmax(160px, 1fr) );
}

footer .copyright-text{
    border-top: 1px solid #E4CBDD;
    padding-top: 10px;
}
footer .social-links svg{
    width: 20px;
    height: auto;
    max-height: 20px;
}


footer .input-group{
    max-width: 600px;
    border-radius: 6px;
    border: 1px solid #3C1053;
    background: #FFF;
    height: 45px;
}
footer .input-group input{
    border: none;
    box-shadow: none !important;
}


footer .input-group .btn{
    border: none;
    color: #3C1053;
    background-color: #fff !important;
    font-weight: 600;
}


footer .input-group input::placeholder{
    color: #A5A5A5;
}
.footer-link{
    text-decoration: none;
    color: #3C1053;
    text-transform: uppercase;
}